.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

/*td.input-form-side-by-side:first-child {
  padding-right: 4px;
  width: 50%;
}

td.input-form-side-by-side:last-child {
  padding-left: 4px;
  width: 50%;
}*/

body {

    background-color: #252830;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial;
    font-weight: 700;
    text-align: center;
}
